
<%-include("includes/header")%>


<div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Whoops, we cannot find that page but all those who get 404 are not Lost!!</h2>
      <p class="lead text-muted">You can always visit the <a href="/">homepage</a> to get a fresh start.</p>
    </div> 
  </div>
  
  <%-include("includes/footer")%>
